.settings
.project
.classpath
.idea
gen
target
bin
project.properties
output.log
gwt-unitCache/
widgetsets/
tmp
*.zip
styles.css
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
/usmo-integration-test/src/main/webapp
/usmo-gui/src/main/webapp/VAADIN/themes/usmoTheme/*.cache
/usmo-gui/run
/usmo-integration-test/src/test/resources/database/activiti.out
/usmo-integration-test/src/test/resources/database/error.out
/usmo-integration-test/src/test/resources/database/usmo.out
/usmo-integration-test/src/test/resources/database/*.out
/usmo-release/database/updates/
/usmo-gui/src/main/resources/languages/difference.txt
*.*~
*.orig
