<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="ActivitiTest">
	<test name="FormManagerServer" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="authentication" />
				<include name="userFactory" />
				<include name="fileManager" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.form.manager.security.AuthenticationServiceTest" />
			<class name="com.biit.form.manager.users.UserFactoryTest" />
			<class name="com.biit.form.manager.folders.FileManagerTest" />
		</classes>
	</test>
</suite>
